<html>
<head>
    <%- include(global.appRoot + '/views/templates/global/header.ejs') %>
</head>
<body data-bs-theme="<%= global.theme %>">
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Visualizzazione playlist&nbsp;</h3>
            <% if(playlist.userId === user._id.toString()) { %>
                <a href="/user/playlists/edit/<%= playlist._id %>" class="link-yellow text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24"
                         height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                        <path d="M16 5l3 3"></path>
                    </svg>
                </a>
            <% } %>
            <% if(playlist.userId !== user._id.toString()) { %>
                <a class="text-decoration-none text-azure"
                   href="/user/sharings/clone/<%= playlist._id %>">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy"
                             width="24" height="24"
                             viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
                           <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                        </svg>
                    </span>
                </a>
            <%
            }
            %>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-2 col-form-label">ID</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="<%= playlist._id %>"
                           value="<%= playlist._id %>" readonly disabled>
                    <small class="form-hint">L'identificatore della playlist.</small>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Titolo</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="<%= playlist.title %>"
                           value="<%= playlist.title %>" readonly>
                    <small class="form-hint">Il titolo della playlist.</small>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Descrizione</label>
                <div class="col">
                    <input type="text" class="form-control" placeholder="<%= playlist.description %>"
                           value="<%= playlist.description %>" readonly>
                    <small class="form-hint">La descrizione della playlist.</small>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Playlist pubblica</label>
                <div class="col">
                    <div>
                        <label class="form-check form-check-inline">
                            <input class="form-check-input"
                                   type="checkbox" <%= playlist.public === true ? 'checked' : '' %> disabled>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Canzoni</label>
                <div class="col">
                    <div class="list-group card-list-group">
                        <% for(let i = 0; i < playlist.songsId.length; i++ ){
                            let year = playlist.songsReleaseDate[i].split('-')[0];
                        %>
                        <div class="list-group-item">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto fs-3"><%= i + 1 %></div>
                                <div class="col-auto"><img src="<%= playlist.songsImage[i] %>" class="rounded"
                                                           alt="<%= playlist.songsName[i] %>" width="40"
                                                           height="40">
                                </div>
                                <div class="col"><%= playlist.songsName[i] %>
                                    <div class="text-muted"><%= playlist.songsAuthor[i] %> - <%= year %>
                                        - <%= playlist.songsGenre[i] %></div>
                                </div>
                                <%
                                if(playlist.songsPreview[i] !== 'null'){
                                %>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-player-play p-0" width="24" height="24"
                                         style="color: var(--tblr-secondary-color)!important"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         onclick="play(`<%= playlist.songsPreview[i] %>`)">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 4v16l13 -8z"></path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="icon icon-tabler icon-tabler-player-pause p-0" width="24" height="24"
                                         style="color: var(--tblr-secondary-color)!important"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         onclick="pause(`<%= playlist.songsPreview[i] %>`)">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
                                        <path d="M14 5m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v12a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
                                    </svg>
                                    &nbsp;
                                <%
                                }
                                else {
                                %>
                                    <svg xmlns="http://www.w3.org/2000/svg" onclick="noPreview()"
                                         style="color: var(--tblr-secondary-color)!important"
                                         class="icon icon-tabler icon-tabler-info-circle p-0" width="24" height="24"
                                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                         stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                        <path d="M12 9h.01"></path>
                                        <path d="M11 12h1v4h1"></path>
                                    </svg>
                                    &nbsp;
                                <% } %>
                                <div class="col-auto text-muted"><%= playlist.songsDuration[i] %></div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label class="col-2 col-form-label">Tags</label>
                <div class="col">
                    <div class="badges-list">
                        <%
                        const colorArray = ["bg-blue", "bg-azure", "bg-indigo", "bg-purple", "bg-pink", "bg-red", "bg-orange", "bg-yellow", "bg-lime", "bg-green", "bg-teal", "bg-cyan"];
                        for(let i = 0; i < playlist.tags.length; i++ ){
                        %>
                            <span class="badge text-white d-flex <%= colorArray[Math.floor(Math.random() * colorArray.length)] %>"><%= playlist.tags[i] %></span>
                        <% } %>
                    </div>
                    <small class="form-hint">La lista dei tag definiti.</small>
                </div>
            </div>

        </div>
        <div class="card-footer text-end">
            <a href="/user/playlists" type="submit" class="btn btn-primary">Lista playlists</a>
        </div>
    </div>
    <div id="canzone" hidden="">

    </div>
</div>
<%- include(global.appRoot + '/views/templates/global/footer.ejs') %>
<script>
    var currentSong = null;

    function play(link) {
        if (link === 'null') {
            iziToast.error({
                title: 'Errore',
                iconUrl: '/images/error.png',
                message: 'Non è possibile riprodurre questo brano.',
                position: 'topRight'
            });
            return;
        }
        currentSong = link;
        let selector = $('#canzone');
        let src = '';
        try {
            src = document.getElementById('audio').src;
        } catch (e) {
        }
        if (src === link) {
            document.getElementById('audio').play();
        } else {
            selector.html(`<audio id="audio" src="${link}" controls autoplay/>`);
        }
    }

    function pause(link) {
        if (link !== currentSong)
            return
        let audioElement = document.getElementById('audio');
        audioElement.pause();
    }

    function noPreview() {
        iziToast.info({
            title: 'Info',
            iconUrl: '/images/info.png',
            message: 'La preview di questo brano non è disponibile.',
            position: 'topRight'
        });
    }
</script>
</body>
</html>